<div class="w-full max-w-3xl flex flex-col gap-6">

  <h1 class="text-2xl font-semibold text-gray-800">
    プロフィール一覧
  </h1>
  <% @profiles.each do |profile| %>
    <%= render "profile_card", profile: profile %>
  <% end %>
</div>
