<div class="w-full max-w-xl bg-white rounded-2xl shadow-lg p-8">

  <h1 class="text-2xl font-bold text-center text-gray-800 mb-4">
    プロフィール作成
  </h1>

  <p class="text-center text-gray-600 mb-8">
    <span class="font-semibold text-gray-800">
      <%= current_user.nickname.presence || current_user.email %>
    </span>
    さんのプロフィール
  </p>

  <%= render "form",
        profile: @profile,
        submit_label: "作成する" %>
  <br>

  <%= link_to "プロフィール一覧へ戻る", profiles_path, class: "text-sm text-gray-600 hover:underline" %>

</div>
