<% flash.each do |type, message| %>
  <% next if message.blank? %>

  <% base = "rounded-lg px-4 py-3 text-sm mb-4" %>
  <% color =
      case type.to_s
      when "notice" then "bg-green-50 text-green-800 border border-green-200"
      when "alert"  then "bg-red-50 text-red-800 border border-red-200"
      else               "bg-gray-50 text-gray-800 border border-gray-200"
      end %>

  <div class="<%= "#{base} #{color}" %>">
    <%= message %>
  </div>
<% end %>
