<%# locals: hobbies: Array (nil OK) %>
<% hobby_list = Array(hobbies).compact %>

<div class="tag-section">
  <% if hobby_list.any? %>
    <ul class="tag-list" aria-label="趣味タグ一覧">
      <% hobby_list.each do |hobby| %>
        <li class="tag-chip"><%= hobby.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="tag-empty">未登録</p>
  <% end %>
</div>
