<h2>お問い合わせがありました</h2>

<table>
  <tr>
    <th>名前</th>
    <td><%= @form.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @form.email %></td>
  </tr>
  <tr>
    <th>件名</th>
    <td><%= @form.subject %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@form.body) %></td>
  </tr>
</table>
